body, html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
  color: white;
  transition: background-color .5s;
}

#header {
  margin: 0;
  transition: background-color .5s
}

#title {
  font-size: 3em;
}

#footer {
  font-size: .8em;
  opacity: .5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color .5s
}

#monotone {
  font-size: 1.5em;
  padding: 1em;
  transition: width .5s;
}

#content h2 {
  font-weight: normal;
}

#initialized {
  display: none;
  transition: display 1s;
}

#uninitialized {
  display: block;
  padding-top: 2em;
  height: 90%;
  transition: display 1s;
}

#uninitialized h1, #uninitialized h2 {
  position: relative;
  color: #555555;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: .5em;
  font-weight: normal;
}
#uninitialized h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1.5em;
}

.container {
  padding: 20px;
}

.label {
  background: white;
  color: black;
  border-radius: .25em;
  padding: 5px;
  font-weight: bold;
}
